.profile-dark form {
    max-width: 400px;
    margin: 0 auto;
}

.profile-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}